.table {
    margin: 20px;
    padding: 20px;
    position: relative;
    height: 500px;
    width: 50%;
    background-color: red;
    overflow-y: scroll;
    border: 5px solid green;
  }
  
  .table-data {
    height: 198px;
    border: 1px solid black;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 26px;
  }
  